:root {
    --pet-smart--primary: #0067B2;
    --hero-banner-title-color: #fff;
    --dashboard-card-bg: #fff;
    --dashboard-card-icon-bg: #F7F6FD;
    --dashboard-card-text-color: #717171;
    --filter-button-text-color: #414141;

    // --bs-body-font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, sans-serif;
}

#root {
    background-color: #FAFAFA;
}

//max-container max-width: 1440px
//container max-width: 1264px
//mid-container: 1088px;




.hero-banner {
    height: 121px;
    background-image: url('../../assets/images/hero-banner-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .hero-banner__container {
        padding-top: 42px;
        display: flex;
        align-items: center;

        .hero-banner__container--title {
            display: flex;
            flex-direction: column;
            position: relative;

            .hero-banner__container-sub-title {
                font-family: var(--bs-roboto-font-family);
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.15px;
                margin-bottom: 3px;
                color: var(--hero-banner-title-color);
                position: absolute;
                top: -24px;
            }

            .hero-banner__container-main-title {
                font-family: var(--bs-spartan-font-family);
                font-weight: 800;
                font-size: 21px;
                line-height: 29px;
                color: var(--hero-banner-title-color);
            }
        }

        .hero-banner__container--date {
            font-family: var(--bs-roboto-font-family);
            color: var(--hero-banner-title-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            margin-left: auto;
        }
    }
}



.dashboard-at-glance {
    position: relative;
    margin-top: -26px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 257px);


    .dashboard-at-glance__card {
        border: 0;
        background-color: var(--dashboard-card-bg);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 20px 17px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 18px;
        text-align: left;

        .dashboard-at-glance__card-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            padding: 13px;
            background-color: var(--dashboard-card-icon-bg);

        }

        .dashboard-at-glance__card-stats {
            .dashboard-at-glance__card-count {
                color: var(--pet-smart--primary);
                letter-spacing: 0.15px;
                font-family: var(--bs-body-font-family);
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
            }

            .dashboard-at-glance__card-title {
                font-family: var(--bs-lato-font-family);
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: var(--dashboard-card-text-color);
            }
        }
    }
}

.filter-section {
    --footer-border-color: #D1D1D1;
    --bg-color: #fff;
    --active-section-bg: #EDF7FF;
    --section-border-color: #CACACA;
    --section-text-1: #6B6B6B;
    --section-text-active-1: var(--pet-smart--primary);
    --inactive-bg-btn: #fff;
    --section-btn-selected: #4AA2E2;
    --section-2-selected-text: #fff;
    --section-2-3-text: #000;
    --section-2-3-divider: #D1D1D1;
    --box-shadow-filter: #00000026;
    margin-top: 56px;

    .filter-section__header {
        display: flex;
        align-items: center;
    }

    .filter-section__button {
        display: flex;
        align-items: center;
        border: 0;
        background-color: transparent;

        .filter-section__icon {
            margin-right: 24px;
        }

        .filter-section-title {
            font-family: var(--bs-lato-font-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: var(--filter-button-text-color);
        }

        .filter-section-dp-icon {
            margin-left: 34px;
        }
    }

    .filter-section__body {
        background-color: var(--bg-color);
        box-shadow: 0px 4px 4px 0px var(--box-shadow-filter);
        display: flex;
        margin-top: 20px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .filter-section-list {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;

            .filter-section-item {
                width: 100%;

                .active-icon {
                    display: none;
                }

                &.active {
                    background-color: var(--active-section-bg);

                    .default-icon {
                        display: none;
                    }

                    .active-icon {
                        display: block;
                    } 
                }

                .filter-section-btn {
                    height: 77px;
                    padding: 15px 20px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    background-color: var(--inactive-bg-btn);
                    column-gap: 10px;
                    border: 0;
                    margin: 0;

                    &.selected {
                        background-color: var(--section-btn-selected);
                    }
                }

                .filter-section-btn-text {
                    font-family: var(--bs-lato-font-family);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    color: var(--section-text-1);
                    text-align: left;
                }
            }
        }

        .filter-section__body-level-1 {
            width: 247px;
            flex-shrink: 0;

            .filter-section-list {
                .filter-section-item {
                    .filter-section-btn {
                        background-color: var(--inactive-bg-btn);
                        column-gap: 10px;
                        border: 0;
                        border-right: 1px solid var(--section-border-color);
                        border-bottom: 1px solid var(--section-border-color);
                    }

                    .filter-section-btn-icon {
                        width: 32px;
                    }

                    &.active {
                        .filter-section-btn {
                            background-color: var(--active-section-bg);
                        }
                        .filter-section-btn {
                            border-right: 0;
                        }
                    }

                    &:first-child {
                        .filter-section-btn {
                            border-top: 0;
                        }
                    }

                    .filter-section-btn-text {
                        max-width: 146px;
                    }
                }
            }
        }

        .filter-section__body-level-2 {
            width: 348px;
            flex-shrink: 0;
            background-color: var(--active-section-bg);
            border-right: 2px solid var(--pet-smart--primary);


            .filter-section-btn {
                &:not(.selected) {
                    background-color: var(--active-section-bg);
                }
            }
        }

        .filter-section__body-level-3 {
            width: 100%;
        }

        .filter-section__body-level-1,
        .filter-section__body-level-2,
        .filter-section__body-level-3 {
            height: 412px;
            overflow: auto;
        }

        .filter-section__body-level-2,
        .filter-section__body-level-3 {
            .filter-section-list {
                .filter-section-item {
                    position: relative;

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }

                    &:after {
                        content: '';
                        background-color: var(--section-2-3-divider);
                        height: 1px;
                        width: 100%;
                        position: absolute;
                        bottom: -2px;
                        z-index: 1;
                        width: calc(100% - 32px);
                        left: 16px;
                    }

                    .filter-section-btn {
                        height: 60px;
                        padding: 15px 16px;



                        .filter-section-btn-text {
                            color: var(--section-2-3-text);
                        }

                        &.selected {
                            .filter-section-btn-text {
                                color: var(--section-2-selected-text);
                            }

                            .filter-section-btn-count {
                                color: var(--section-2-selected-text);
                            }
                        }
                    }

                    .filter-section-btn-text {
                        font-family: var(--bs-lato-font-family);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 21px;
                        letter-spacing: 0.14px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }

                    .filter-section-btn-count {
                        margin-left: auto;
                        color: var(--pet-smart--primary);
                        font-family: var(--bs-lato-font-family);
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 21px;
                        letter-spacing: 0.14px;
                    }

                }
            }
        }
    }

    .filter-section__footer {
        min-height: 71px;
        padding: 13px 22px;
        border-top: 1px solid var(--footer-border-color);
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 4px 0px var(--box-shadow-filter);
        border-radius: 0 0 8px 8px;
        margin-bottom: 27px;

        .filter-section-action {
            margin-left: auto;
            display: flex;
            align-items: center;
            column-gap: 20px;
        }
    }

    .filter-section__applied {
        --btn-pill-active: #4e8dd614;
        --btn-pill-active-hover: #29507d14;
        --btn-reset: #525252;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-items: flex-start;
        grid-gap: 12px;
        padding-top: 15px;

        .filter-section__applied-list {
            min-width: 109px;

            .btn-close-reset {
                all: unset;
                cursor: pointer;
                color: var(--btn-reset);
                font-size: 16px;
                font-family: var(--bs-lato-font-family);
                line-height: 21px;
                letter-spacing: 0.14px;
                text-decoration: underline;
            }

            .btn-filter-pill {
                all: unset;
                cursor: pointer;
                padding: 4px 12px;
                border-radius: 16px;
                border: 1px solid var(--pet-smart--primary);
                font-size: 12px;
                font-family: var(--bs-lato-font-family);
                line-height: 18px;
                letter-spacing: 0.25px;
                color: var(--pet-smart--primary);
                display: flex;
                align-items: center;
                background: var(--btn-pill-active);
                text-transform:uppercase;

                &:hover {
                    background: var(--btn-pill-active-hover);
                }

                >span {
                    margin-right: 8px;
                }

                .btn-close-pill {
                    margin-left: auto;
                    padding: 0;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

}

.shipping-list {
    --table-cell-bg: #fff;
    --table-header-text: #414141;
    --table-body-text: #414141;
    margin-top: 27px;

    .filter-table {
        table-layout: fixed;

        th {
            width: 233px;
            position: sticky;
            top: 0;
            z-index: 1;
            background: var(--table-cell-bg);

            font-family: var(--bs-lato-font-family);
            font-weight: 700 !important;
            font-size: 12px !important;
            padding: 12px 20px !important;
            line-height: 21px;
            letter-spacing: 0.14px;

            color: var(--table-header-text);

            &.status-cell {
                width: 200px;
            }

            .filter-table__header {
                display: flex;
                align-items: flex-start;
                padding: 0;

                .filter-table__title {
                    text-align: left;
                }

                &.filter-table__header--button {
                    background-color: transparent;
                    border: 0;
                }

                .filter-table__sort-icon {
                    margin-left: 17px;
                    transition: 0.3s all;

                    &.none {
                        opacity: 0;
                    }

                    &.ascending {
                        transform: rotate(180deg);
                    }

                    &.desending {
                        transform: rotate(0deg);
                    }
                }

            }
        }

        td {

            font-family: var(--bs-lato-font-family);
            font-size: 16px !important;
            padding: 12px 20px !important;
            line-height: 21px;
            letter-spacing: 0.14px;
            font-weight: 400 !important;
            line-height: 21px;
            color: var(--table-body-text);
        }
    }
}


.footer1 {
    background-color: #4F6D83 !important;
    text-align: center !important;

    width: 100%;
    font-size: larger;
    font-weight: 500;
    bottom: 0;
    margin-top: 2%;
    max-height: 61px;
    flex-shrink: 0;
    font-family: Lato;
}

.shipper___info__tab {
    width: 840px !important;
}